* {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 24px;
  
 
}
body {
  background-color: #ccc;
}
p {
  font-size: 18px;
}
/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: rgb(12,67,130);
}

/* Navigation links */
.navbar a {
  float: left;
      text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 0.9em;
  color: rgb(210,230,246);

}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
  width: inherit;
}

/* Subnav button */
.subnav .subnavbtn {
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
  color: rgb(210,230,246);
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(73,45,7);
}

/* Dropdown Button */
.dropbtn {
  background-color: rgb(73,45,7);
  padding: 16px;
  border: none;
  font-size: 0.9em;
  color: rgb(210,230,246);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(92, 57, 9)}


/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  left: 0;
  background-color: rgb(73,45,7);
  width: 100%;
  z-index: 1; 
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  text-decoration: none;
  
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: rgb(92, 57, 9);
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: inline-block;
}

/* Dropdown Button */
.dropbtn {
  background-color: rgb(73,45,7);
  padding: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(73,45,7);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.7em;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.card-image {
  float: left;
 width: 150px;
 margin: 25px 30px 30px 0;
 border: 10px solid white;
 border-radius: 5px;
}

#main-container {
  display: flex;
}

#card-container {
  padding-left: 20px;
  width: 60vw;
}

#card-container h2 {
  padding-top: 20px;
  font-size: 1.2em;
  font-style: italic;
  color: rgb(89, 90, 114);
}
#side-menu-container {
  width: 20vw;
}
#side-menu-container a {
  display: block;
  padding: 5px; 
  cursor: pointer;
}

#side-menu-container a:hover {
  background-color: rgb(172, 172, 172);
}
