* {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 24px;
}
body {
  background-color: #ccc;
}
p {
  font-size: 18px;
}
/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: rgb(12,67,130);
  display: flex;
  color: rgb(210,230,246);
}

.card-image {
float: left;
 width: 200px;
 margin: 25px 30px 30px 0;
 border: 10px solid white;
 border-radius: 5px;
}

#main-container {
  display: flex;
}

#card-container {
  padding-left: 20px;
  width: 50vw;
}

#card-container h2 {
  padding-top: 20px;
  font-size: 1.2em;
  font-style: italic;
  color: rgb(89, 90, 114);
}

#side-menu-container{
  width: 20vw;
}

#side-menu-container p {
  display: block;
  padding: 5px; 
  cursor: pointer;
  font-size: 0.7em;
}

#side-menu-container p:hover {
  background-color: rgb(172, 172, 172);
}

.navbar-button {
  padding: 10px;
  cursor: pointer;
  
}

.navbar-button:hover {
  background-color: rgb(9, 49, 95);
}

#major-button {
  min-width: 150px;
}

